{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% block site_content %}
    <div class="container">
        <div class="row">
            <form method="post" action="{% url 'product-update' product.id %}" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update {{ product.title }}</legend>
                    {{ form|crispy }}
                    {% csrf_token %}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}